<header class="header">
	<div class="header__container">
		<figure class="header__container__logo">
			<img src="./img/KA_favicon.svg" alt="" class="logo">
		</figure>

		<div class="header__container__searchBox">

			<p>Recherche</p>
			<input type="search" name="searchBar">
			<figure class="search">
				<img src="./img/loupe.svg" alt="" class="loupe">
			</figure>
		</div>

		<figure class="header__container__login">
			<img src="./img/icone_connexion.svg" alt="icône de connexion" class="connexion">
			<p>Se connecter</p>
		</figure>
	</div>
	<nav class="header__navbar">
		<ul>
			<li><a href="#" target="_blank" class="link">Accueil</a></li>
			<li><a href="#" target="_blank" class="link">Notre Association</a></li>
			<li><a href="#" target="_blank" class="link">Animations</a></li>
			<li><a href="#" target="_blank" class="link">Formations</a></li>
			<li><a href="#" target="_blank" class="link">Contact</a></li>
		</ul>
	</nav>
</header>

<a href="#" target="_blank"></a>
